<h1>ANG APP</h1>

<!-- <courses></courses>

<div>
    <favorite [isSelected]="post.isSelected" (changed)="onSelectionChanged()"></favorite>
</div>

<button type="button" class="btn btn-primary">Primary</button>


<bootstrap-panel class="my-heading">
  <div class="heading">Heading</div>
  <div class="body">
    <h2>HI There</h2>
    <p>Some text</p>
  </div>
</bootstrap-panel>

<simple-nav></simple-nav>

<courses-list></courses-list>

<input type="text" [appInputFromat]="'uppercase'">

<contact-form></contact-form> -->

<!-- <app-custom-form></app-custom-form>

<signup-form></signup-form>

<courses-list-dynamic></courses-list-dynamic> -->

<!-- <app-posts-component></app-posts-component> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
